{% extends 'layout_no_auth.twig' %}

{% block content %}
  <div class="starter-template">
    <h1>DB Test</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <pre>
        {{ dump(dbResult) }}
      </pre>
    </div>
  </div>
{% endblock %}